*.class
*.java~
*.*~
._*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

*.lock
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
*.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
*.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
*.resources
*.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.xmi
core/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.ini
core/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
*.xml
*.log
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
core/.metadata/.mylyn/.taskListIndex/segments_1
core/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
core/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.gz